<script src="https://underscorejs.org/underscore-min.js"></script>
<script>
    $(document).ready( () => {
        var dict = {
        'inquiry': [{'name':'Anti-Virus','value':'antivirus'},
            {'name':'Email','value':'email'},
            {'name':'Internal Application','value':'internal application'}],
        'software': [{'name':'Email','value':'email'},
            {'name':'Operating System','value':'os'}],
        'hardware': [{'name':'CPU','value':'cpu'},
            {'name':'Disk','value':'disk'},
            {'name':'Keyboard','value':'keyboard'},
            {'name':'Memory','value':'memory'},
            {'name':'Monitor','value':'monitor'},
            {'name':'Mouse','value':'mouse'}],
        'network': [{'name':'DHCP','value':'dhcp'},
            {'name':'DNS','value':'dns'},
            {'name':'IP Address','value':'ip address'},
            {'name':'VPN','value':'vpn'},
            {'name':'Wireless','value':'wireless'}],
        'database': [{'name':'DB2','value':'db2'},
            {'name':'MS SQL Server','value':'sql server'},
            {'name':'Oracle','value':'oracle'}]
          }

        $('#category').change(function () 
        {
            var cat = $(this).val();
            var menu = $("#subcategory");
            menu.empty();
            $.each(dict[cat], function() {
                $("<option/>")
                .prop("value",this.value)
                .html(this.name)
                .appendTo(menu);
            });
        });
        $('select[name=category] option[value={{incident.category}}]').prop('selected', true);
        $('#category').change();
        var sel_elems = {'subcategory':'{{incident.subcategory}}','impact':'{{incident.impact}}','urgency':'{{incident.urgency}}','priority':'{{incident.priority}}',
        'contact_type':'{{incident.contact_type}}'};
        _(sel_elems).each((option_value,sel_elem_name) => {
            if(option_value){
                $('select[name='+sel_elem_name+'] option[value='+option_value+']').prop('selected', true);

            }
            else {
                $('select[name='+sel_elem_name+'] option[value=\'\']').prop('selected', true);               
            }

        });
})  
</script>
<form class="text-center border border-light p-5" name="myform" action="/incidents/edit" method="POST">
    <a class='btn btn-info btn-xs float-left' href="/edit?sys_id={{incident.sys_id}}"><i class="fa fa-edit" aria-hidden="true"></i>Edit</a> <a href="/incidents/delete?sys_id={{incident.sys_id}}" class="btn btn-danger btn-xs float-right"><span class="fa fa-remove"></span>Del</a>
    <p class="h4 mb-4">Incident Details</p>            
    <!-- Subject -->
    <label>Category</label>
    <select id="category" class="browser-default custom-select mb-4" name="category" disabled>
        <option value="" >Choose option</option>
        <option value="inquiry">Inquiry/Help</option>
        <option value="software">Software</option>
        <option value="hardware">Hardware</option>
        <option value="network">Network</option>
        <option value="database">Database</option>
    </select>
    <label>Sub-Category</label>
    <select id="subcategory" class="browser-default custom-select mb-4" name="subcategory" disabled>
    </select>
    </select>
    <label>Contact Type</label>
    <select class="browser-default custom-select mb-4" name="contact_type" disabled>
        <option value="">Choose option</option>
        <option value="email">Email</option>
        <option value="phone">Phone</option>
        <option value="self-service">Self-Service</option>
        <option value="walk-in">Walk-In</option>
    </select>
    <label>Impact</label>
    <select id="impact" class="browser-default custom-select mb-4" name="impact" disabled>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
    </select>
    <label>Urgency</label>
    <select id="urgency" class="browser-default custom-select mb-4" name="urgency" disabled>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
    </select>
    <label>Priority</label>
    <select id="priority" class="browser-default custom-select mb-4" name="priority" disabled>
        <option value="0">Choose option</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <div class="form-group">
        <input type="text" id="defaultContactShortDescription" name="short_description" class="form-control mb-4" placeholder="Short Description" required="true" value="{{incident.short_description}}" disabled>       
        <textarea disabled class="form-control rounded-0" name="description" id="Description1" rows="3" placeholder="Description" required>{{incident.description}}</textarea>
    </div>     
</form>

